@charset "UTF-8";

#wrap{ width:100%; height: 50px; position:absolute; z-index: 3;}
#container{width:1200px;  height:20px; margin:20px auto;  display: flex; justify-content: space-between;}
.logo{width:190px; height: 42px;  margin-top:-10px;}
.logo img{width:110px;}
nav{width: 600px; height: 45px; }
nav ul{display: flex;}
nav li a{padding:15px; color:#fff;}
nav li:first-child a{color:#fbc22c;}


    footer{width: 100%; height: 550px;margin:0 auto; display: flex; align-items: center; justify-content: center;}
    footer h1{font-family:'EliceDigitalBaeum_Bold'; font-size: 20px; color:#fff; }
    .footer_box{width: 75%; height: 360px; display: flex; flex-direction: column; justify-content: flex-start;
    align-content: center;}
    .about{width:20%; height: 360px; display: flex; flex-direction: column; margin-right:5%;}
    .about_icon{width:50px; height: 50px; display: flex; justify-content: center;
    align-items: center;}
    .about_icon_box{width:180px; display: flex; justify-content: space-between; margin:2% 0 0 5%;}
    .about p{color:#999; margin:15% 5% 5% 0; font-size: 14px; line-height: 190%;}
    .about_icon img{width:25px; height: 25px;}
    
    /*                                  최근 블로그   최근 블로그   최근 블로그   최근 블로그   최근 블로그   최근 블로그      */
    .recent{width:35%; height: 290px; }
    .recent_blog{width:400px; height: 110px; display: flex; margin-top:9%;}
    .recent_text_text{width:245px; height:70px;;}
    .recent_text_text p{color:#eee; line-height: 170%;}
    .recent_icon{width:245px; height: 40px; font-size: 14px; color:#999;
    display:flex; justify-content: space-between; align-items: flex-end;}
    .recent a{color:#eee;}
    
    .recent a:hover{color:#fbc22c; transition:0.5s ease;}
    
    
    .recent_blog_img{width:110px; height: 110px;
    background-size: cover; margin-right:5%;}
    .recent_text{width:250px; height: 140px;}
    .recent1{background-image: url(../img/blog1.jpg); background-size: cover;}
    .recent2{background-image: url(../img/blog3.jpg); background-size: cover; background-position: 50%;}
    
    /*                                  최근 블로그   최근 블로그   최근 블로그   최근 블로그   최근 블로그   최근 블로그      */
    
    .service{width:15%; height: 270px; display: flex; flex-direction: column; align-items: flex-start;}
    .service h1{margin-bottom:12%;}
    .service ul{ margin-left:12%;}
    .service ul li{padding:10%;}
    .service a:hover{color:#fbc22c; transition:0.5s ease;}
    
    .qna{width:30%; height: 270px;}
    
    .qna p{font-size: 14px;}
    .phone{width:270px; height: 70px; display:flex; margin-top:2%;}
    .location{width:270px; height: 70px; display:flex; margin-top:10%;}
    .email{width:270px; height: 70px;  display:flex;}
    .qna_icon{width:80px; height: 70px;display: flex; justify-content: center;
    align-items: center;}
    .qna_text{width:170px; height: 70px; display:flex; justify-content: flex-start;
    align-items: center; color:#fff;color:#999;}
    .location_icon{width:80px; height:70px; display:flex; justify-content: center;
    align-items: flex-start; margin-top:3%;}
    .location_text{width:170px; height: 70px; color:#fff; display:flex; justify-content: center;
    align-items: flex-start; color:#999; margin-top:2%;}
    
    
    
    
    .boxbox{width:100%; height:50px;}
    .boxbox1{width:100%; height:10px;}
    .boxbox2{width:100%; height:20px;}
    .boxbox{width:100%; height:50px;}
    #b{display:none;}
    .overlay{display: none;}
    